<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Dashboard</title>
</head>

<body>
    <header>
        Control Invernadero
    </header>

    <div class="tarjeta-funcionalidad">
        <div class="tarjeta-titulo">
            <h2>Irrigación</h2>
        </div>
        <div class="toggle">
             <button onclick="controlRiego()">Prender irrigación (2.5ms)</button>
        </div>
    </div>

    <div class="tarjeta-funcionalidad">
        <div class="tarjeta-titulo">
            <h2>Programar Ciclo de Irrigación</h2>
        </div>
        <form id="programa-irrigacion" style="margin-top:10px;">
            <label for="hora-inicio">Hora de inicio:</label>
            <input type="time" id="hora-inicio-irrigacion" value="10:00" step="60">
            <label for="duracion">Duración (seg):</label>
            <input type="number" id="duracion-irrigacion" min="1" max="60" value="3">
            <label for="frecuencia"> Frecuencia (días):</label>
            <input type="number" id="frecuencia-irrigacion" min="1" max="7" value="2">
            <button type="button" onclick="programarCiclo('irrigacion')">Programar</button>
        </form>
        <p id="ciclo-programado">Ciclo programado a las 10:00 por 1 min, cada 2 días</p>
    </div>

    <div class="tarjeta-funcionalidad" style="margin-bottom: 0%;">
        <div class="tarjeta-titulo">
            <h2>Programar Ciclo de Temperatura</h2>
        </div>
        <form id="control-temperatura" style="margin-top:10px;">

            <label for="hora-inicio-temperatura">Hora de Inicio:</label>
            <input type="time" id="hora-inicio-temperatura" value="10:00">
            <label for="hora-fin-temperatura">Hora de Fin:</label>
            <input type="time" id="hora-fin-temperatura" value="20:00">
            <button type="button" onclick="programarCicloTemperatura('temperatura')">Programar</button>
        </form>
        <p id="display-ciclo-temperatura">Ciclo programado de las 10:00 a las 20:00</p>
    </div>    

    <div class="tarjeta-funcionalidad">
        <div class="tarjeta-titulo">
            <h2>Control de Clima</h2>
        </div>
        <p id="display-temperatura-actual">Temperatura actual: 0</p>
        <div id="temp-limits" style="margin-bottom:0%;">
            <input type="number" id="min-temp" placeholder="Temperatura mínima" oninput="updateTempLimits()">
            <input type="number" id="max-temp" placeholder="Temperatura máxima" oninput="updateTempLimits()">
        </div>
        <button type="button" onclick="updateTemperature()" style="margin-top: 1%;">Actualizar</button>
        <div id="temp-messages">
            <p>La temperatura mínima se encuentra establecida en: <span id="display-min-temp">18</span>°C</p>
            <p>La temperatura máxima se encuentra establecida en: <span id="display-max-temp">20</span>°C</p>
        </div>
    </div>
    
  <div class="centered-container" style="margin-bottom:0%">
      <div class="tarjeta-funcionalidad" id="radiadorTarjeta">
          <div class="tarjeta-titulo">
              <h2>Control de potencia del radiador</h2>
          </div>
          <div class="slider-contenedor">
              <input type="number" id="radiador" min="0" max="100" placeholder="Potencia (%)">
              <button onclick="potencia('radiador', '2')">Actualizar</button>
          </div>
      </div>

      <div class="tarjeta-funcionalidad" id="ventiladorTarjeta">
          <div class="tarjeta-titulo">
              <h2>Control de potencia del ventilador</h2>
          </div>
          <p style="margin-bottom: 1px;">Ventilador 1:</p>
          <div class="slider-contenedor">
              <input type="number" id="ventilador1" min="0" max="100" placeholder="Potencia (%)">	
	      <button onclick="potencia('ventilador1', '0')">Actualizar</button>
          </div>
          <P style="margin-bottom: 1px;">Ventilador 2:</P>
          <div class="slider-contenedor">
              <input type="number" id="ventilador2" min="0" max="100" placeholder="Potencia (%)">
              <button onclick="potencia('ventilador2', '1')">Actualizar</button>
        </div>
      </div>
    </div>

    <div class="tarjeta-funcionalidad" style="margin-top: 0%;">
        <a href="{{ url_for('graph') }}" style="text-decoration: none; color: inherit;">
            <div class="tarjeta-titulo">
                <h2>Desplegar gráfica</h2>
            </div>
        </a>
    </div>

</body>
</html>
