<!--
    graph.html
    Displays dynamic charts for temperature, irrigation usage, 
    and action history in the greenhouse control system.
    
    Autores:  De los Cobos Garca Carlos Alberto
              Sánchez Hernández Marco Antonio
              Torres Bravo Cecilia
    License:  MIT
-->

<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Page title to "Graphs" -->
    <title>Graphs</title>
  </head>

  <body>

     <!-- Displaying the historical temperature chart -->
    <div class="tarjeta-funcionalidad">
        <div class="tarjeta-titulo">
            <h2>Histórico de Temperatura</h2>
        </div>
        <canvas id="graficaTemperatura"></canvas>
    </div>

    <!-- Card for displaying the historical irrigation chart -->
    <div class="tarjeta-funcionalidad">
        <div class="tarjeta-titulo">
            <h2>Histórico de Irrigación</h2>
        </div>
        <canvas id="graficaIrrigacion"></canvas>
    </div>

    <!-- Displaying the historical actions chart -->
    <div class="tarjeta-funcionalidad">
        <div class="tarjeta-titulo">
            <h2>Histórico de Acciones</h2>
        </div>
        <canvas id="graficaAcciones"></canvas>
    </div>

    <!-- Button to navigate back to the dashboard -->
    <a href="{{ url_for('dashboard' )}}">
        <button class="start-button" onclick="">Regresar</button>
    </a>

  </body>
</html>